#checkbox {
    position: relative;
    appearance: none;
    width: 55px;
    height: 24px;
    border-radius: 100px;
    background: #4731d3;
    cursor: pointer;
}

#checkbox:checked {
    background: #000000;
}

#checkbox::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 100px;
    width: 20px;
    height: 20px;
    background: #ffe86e;
}

#checkbox::after {
    position: absolute;
    right: calc(100% + 20px);
    border-radius: 100px;
}

#checkbox:checked::before {
    left: calc(100% - 22px);
}
