.mode-container {
    padding: 2% 15% 0 12.08%;
    background-color: white;
}

#checkbox {
    position: relative;
    appearance: none;
    width: 55px;
    height: 24px;
    border-radius: 100px;
    background: #4731d3;
    cursor: pointer;
}

#checkbox::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 100px;
    width: 20px;
    height: 20px;
    background: #ffe86e;
}

#checkbox::after {
    position: absolute;
    right: calc(100% + 20px);
    border-radius: 100px;
    background: #12121b;


}

.lang-handler-div {
    color: #777777;
}

.lang-handler-span {
    color: #4731D3;
}


#checkbox:checked::before {
    left: calc(100% - 22px);
}

.dark-mode {
    background-color: #1f1f1f;
    color: #ffffff;
}